/*MEDIA QUERIE*/
@media (min-width: 600px) {
    .wide {
        grid-column: span 2;
        grid-row: span 2;
    }
    
    .tall {
        grid-row: span 3;
    }
    
    .bts {
        grid-row: span 2;
    }
    
    .peque {
       grid-column: span 2;
       
    }
    }


@media (max-width: 576px){
    .bts {
        display: -webkit-box;
        height: 100vh;
        width: 100vw;
        overflow-x: scroll;
    }
}

@media (max-width: 576px){
    .contenido__texto{
        display: flex;
        justify-content: center;
        text-align: center;
        
    }
}

@media (max-width: 576px){
    .contenido__titulo{
        display: flex;
        justify-content: center;
        text-align: center;
    }
}

@media (max-width: 576px){
    .tarjetas {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

@media (max-width: 576px){
    .self {
        transform: translate(0px);  
    }
}
@media (max-width: 576px){
    .nextTo {
        display: flex;
        flex-direction: column;  
    }
}