/*CONTENIDO GLOBAL*/

@font-face {
    font-family: 'Khand';
    src: url(./tipografia/Khand-Medium.ttf);
    font-style: normal;
}


*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to right, #e85d04, #390099);
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 1;
    
        
}


header span {
    display: none;
}


a {
    text-decoration: none;
    color: black;
}


ul {
    list-style-type: none;
}

footer {
    
    color: white;
    text-align: center;
    font-family: 'Khand';
    
}

.redes img {
    height: 30px;
    background-color: whitesmoke;
    border: 2px solid white;
    border-radius: 10px;
}

/* CONTENIDO DEL ENCABEZADO*/


.nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}


.logo {
    height: 90px;
    padding: 5px;
    display: flex;
    align-items: center;
    
}


.menu {
    display: flex;
}


.menu li {
    margin: 10px;
    font-family: 'Khand';
    font-size: 18px;
}


.menu li a {
    color: white;
    font-weight: bold;
    transition: all 0.5ms ease;
}


.menu li a:hover{
    padding: 5px 10px;
    background: white;
    color: #e85d04;
    border-radius: 15px;

} 

/* CONTENIDO TEXTO */

.contenido__titulo {
    color: whitesmoke;
    font-family: 'Khand';
    text-align: center;
    font-size: 40px;
}

.contenido__texto {
    font-family: 'Khand';
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: lighter;
}

/*CONTENIDO DE PAGINA DE CONTACTO*/


.formulario {
    width: 450px;
    display: flex;
    justify-content: center;
    
    
    padding: 30px;
    margin: auto;
    margin-top: 30px;
    border-radius: 20px;
    background-color: rgba(232, 93, 4, 0.8);
    /*opacity: 100%;*/
    
}


.controls {
    width: 100%;
    border-radius: 4px;
    border: 3px solid #390099;
    font-size: 20px;
    background-color: transparent;
    padding: 5px;
    margin: 2px;
    outline: none;
    
}


.contenido__formulario{
    
    color: black;
    font-family: 'Khand';
    font-size: 22px;
}

.opciones {
    font-family: 'Khand';
    color: black; 
}


.button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;

}

.button__transparent {
    background-color: white;
    color: #390099;
    border-radius: 20px;
    font-family: 'Khand';
    font-size: medium;
    padding-right: 20px;
    padding-left: 20px; 
    
}

/* CONTENIDO MEDIA DEL INDEX */

.fondo {
  background-color: black;
  
}
 

.bts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: minmax(250px, auto);
    padding: 50px;
    grid-auto-flow: dense;
}

.bts__item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: solid black;
    border-radius: 30px;
    transition: transform 0.2s ease-in-out;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   
}


.bts__item:hover {
    transform: scale(1.04);
}

.alto {
    grid-row: span 2;
    transform: translateY(-50px);
}


.solo {
    transform: translateY(50px);
}

/*CONTENIDO PAG HISTORIA*/

.container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 600px);
    grid-template-rows: repeat(2, 200px);
    gap: 5px;
    padding: 50px;
}

.conten {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Khand';
    background-size: cover;
    background-position: end;
}

.uno {
    grid-row: span 2;
}


.idol{
    border-radius: 20px;
}

/* VER MAS */

.ver__enlace {
    font-family: 'Khand';
    text-align: end;
    padding-right: 40px;
    font-size: 40px;
    color: whitesmoke;
    
}


/*CONTENIDO PAGINA DE INTEGRANTES*/



.tarjetas {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(3, 400px);
    align-items: center;
    justify-content: center;
    gap: 60px;
    
    
}
 

.tarjeta {
    background-color: transparent;
    border: 2px solid white;
    font-family: 'Khand';
    border-radius: 5px;
   
   
}


.tarjeta__foto-integrante {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    
}


.tarjeta__nombre-integrante {
    text-align: center;
    color: white;
}

.tarjeta__info {
    text-align: center;
    color: white;
}



.self {
    transform: translate(460px);
}


/*CONTENIDO GALERIA*/

.grid__item {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: transparent;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.grid__item:hover {
    filter:opacity(0.9);
    transform: scale(1.04);
}


.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 10px;
    padding: 20px;
    grid-auto-flow: dense;

   
}

/*CONTENIDO PAG DISCOGRAFIA*/





.letter {
color: white;
}

/*MEDIA QUERY - LAST*/

@media (min-width: 600px) {
.wide {
    grid-column: span 2;
    grid-row: span 2;
}

.tall {
    grid-row: span 3;
}

.bts {
    grid-row: span 2;
}

.peque {
   grid-column: span 2;
   
}
}

@media (max-width: 560px) {
    .menu li {
        display: none;
    }

    header span {
        display: block;
        font-size: 50px;
        margin-right: 40px;
    }
}


@media (max-width: 490px){
    .bts {
        display: none;
    }
}



