/*CONTENIDO PAG DISCOGRAFIA*/

.nextTo{
    display: flex;
    justify-content: center;
}
.grd{
    display: grid;
    grid-template-columns: 800px;
   
}
.table {
    display: flex;
    justify-content: center;
    text-align: center;
    width: auto;
}

.gif{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 5px;
    
    &__item{
        border-radius: 20px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;  
    }
}


   

.letter {
color: $blanco;
}

