/*CONTENIDO GLOBAL*/

@font-face {
    font-family: 'Khand';
    src: url(..//tipografia/Khand-Medium.ttf);
    font-style: normal;
}


*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    width: 100%;
    height: 100px;
    /*background-image: linear-gradient(to right, #e85d04, #390099);*/
    position: sticky;
    top: 0;
    z-index: 2;
    
        
}

a {
    text-decoration: none;
    color: $negro;
}


ul {
    list-style-type: none;
}

footer {
    
    color: $blanco;
    text-align: center;
    font-family: 'Khand';
    
}

.redes img {
    height: 30px;
    background-color: whitesmoke;
    border: 2px solid $blanco;
    border-radius: 10px;
    transition: all 0.5ms ease;

    &:hover{
        background: #e85d04;
     }
}

/* CONTENIDO DEL ENCABEZADO*/

.navbar-brand{
    font-size: 50px;
}

/* CONTENIDO TEXTO */

.contenido__titulo {
    display: flex;
    justify-content: center;
    color: whitesmoke;
    font-family: 'Khand';
    font-size: 40px;
    &__texto {
     display: flex;
     justify-content: center;
     font-family: 'Khand';
     color: $blanco;
     font-size: 30px;
     font-weight: lighter;
  }
}



/*CONTENIDO PAG HISTORIA*/

.container {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 50px;
    flex-wrap: wrap;
}

.conten {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $blanco;
    font-family: 'Khand';
    background-size: cover;
    background-position: end;
}

.uno {
    grid-row: span 2;
}


.idol{
    border-radius: 20px;
}
