/*CONTENIDO GLOBAL*/
@font-face {
    font-family: "Khand";
    src: url(..//tipografia/Khand-Medium.ttf);
    font-style: normal;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .fondo {
    background-color: $fontdark;
  }
  
  header {
    width: 100%;
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 2;
  }
  
  a {
    text-decoration: none;
    color: $fontdark;
  }
  
  ul {
    list-style-type: none;
  }
  
  footer {
    color: $fontlight;
    text-align: center;
    font-family: "Khand";
  }
  
  .redes img {
    height: 30px;
    background-color: whitesmoke;
    border: 2px solid $fontlight;
    border-radius: 10px;
    transition: all 0.5ms ease;
  }
  .redes img:hover {
    background: #e85d04;
  }