/*CONTENIDO PAGINA DE INTEGRANTES*/

.tarjetas {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(3, 400px);
    align-items: center;
    justify-content: center;
    gap: 60px;
   
    @media (max-width: 576px){
        .tarjetas {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }
    }
  
}
 
.tarjeta {
    background-color: transparent;
    border: 2px solid $blanco;
    font-family: 'Khand';
    border-radius: 5px;
    margin-top: 10px;
    
    &__foto-integrante {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }  
       &__nombre-integrante {
        text-align: center;
        color: $blanco;
    }
       &__info {
        text-align: center;
        color: $blanco;
    }
}



.self {
    transform: translate(460px);
    
    @media (max-width: 576px){
        .self {
            transform: translate(0px);  
        }
    }
}



/* VER MAS */

.ver__enlace {
    font-family: 'Khand';
    text-align: end;
    padding-right: 40px;
    font-size: 40px;
    color: whitesmoke;
    
}

